body {
  background: #141414;
  color: white;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.image-container {
  position: relative;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center;
  padding: 10px;
  bottom: 0;
  opacity: 0;

  transition: 0.5s ease;
}
.image-container:hover .overlay {
  opacity: 100%;
}
.bi-heart {
  color: red;
}
::-webkit-scrollbar {
  height: 4px;              /* height of horizontal scrollbar ← You're missing this */
  width: 4px;               /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}